<nav class="nav nav-tabs justify-content-center p-3">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/login">Create</a>
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>