<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css"> 
        <title>DrawGame.io</title>
    </head>
    <body>
        <% include header %>
        <div id="loginSection" class="container-fluid justify-content-center">
            <div class="flex-column">
                <form enctype='application/json' method="POST">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" name='username' class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required="true" autocomplete="on">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" name='password' class="form-control" id="InputPassword" placeholder="Password" pattern="[A-Za-z0-9]{4,15}" title="4-15 letter and without symbol!" required="true" autocomplete="off">
                    </div>
                    <p id="errMsg" style="color: #eb4d4b; font-weight:bold;"><%= erroMsg %></p>
                    <button type="submit" class="btn btn-primary" formaction="/auth/login">Login</button>
                    <button type="submit" class="btn btn-success ml-1" formaction="/auth/register">Register</button>
                    <input class="btn btn-danger ml-1" type="reset" value="Reset" autocomplete="off">
                    
                    <!-- oauth2.0 -->
                    <a id="LoginBtn" class="btn ml-4" style="color:#ffffff; background: #ea4335;" href="/auth/google">
                        Google&nbsp;&nbsp;<i class="fab fa-google fa-lg"></i>
                    </a>
                    <a id="startGameBtn" class="btn ml-1" style="color:#ffffff; background: #00c300;" href="/auth/line">
                        Line&nbsp;&nbsp;<i class="fab fa-line fa-lg"></i>
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>