canvas { 
    border: 1px solid black;
    background: white;
}

img {
    width: 100%;
    height: 100%;
}

.nonDisplayBtn{
    display: none;
}

#playerB { 
    width: 40vw;
    height: 50vh; 
    border: 1px solid black;
    background: white;
}

#gameSection{
    background: #ffeaa7;
    border-radius: 1.5rem;
}
