 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: 'Noto Sans TC';
}

img{
    border-radius: 0.3rem;
}

.input-group{
    width: 40vw;
}

#preGameSection{
    width: 60vw; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#preGame{
    border-radius: 0.5rem;
    background: #81ecec;
}